* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  /*border: 1px solid red;*/
}

html {
  font-family: "Lucida Sans", sans-serif;
}

header {
  /*background-color: #C3D3B9;
  display: flex;
  align-items: flex-end;*/
}

.logo {
  background-color: #C3D3B9;
  padding: 70px 0px 15px 15px;
}

.menu {
 background-color: #C3D3B9;
 padding: 93px 20px 0px 15px;


}

.menu ul {
  /*display: flex;*/
  float: right;
  list-style-type: none;

}

.menu li {
  display: inline;
  padding: 14px 16px;

}

.navbar{
    color: black;
    text-decoration: none;
}

.footer {
    background-color: #0d4436;
    color: white;
    text-align: center;
    }

/*.frontphoto{
    position: center;
}*/

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .menu ul {
    float: left;
  }

  .menu {
   background-color: #C3D3B9;
   padding: 0px 0px 0px 0px;
   }

   .logo {
     background-color: #C3D3B9;
     padding: 70px 0px 15px 60px;

   }
}