* {
  box-sizing: border-box;
}

/* Set a background color
body {
  background-color: darkslategray;
}*/

h1 {
    text-align: center;
    color: black;


}
.overskrift{
    color: black;
    margin: 0px 60px 15px 60px;
}

.info{
    text-align: center;
    color: white;

}

p{
    color: white;
    font-family: "arial", sans-serif ;

}

h2{
    color: white
}

/* The actual timeline (the vertical ruler) */
.calendar {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.calendar::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #05444D;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.box {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.box::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #C3D3B9;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent #05444D transparent;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #05444D transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The content */
.content {
  padding: 20px 30px;
  background-color: #05444D;
  position: relative;
  border-radius: 6px;
}

/*Responsive calendar on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .calendar::after {
    left:31px;
  }

/* Full-width containers */
  .box {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .boxr::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}