* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    margin: auto;
    background: #C3D3B9;
    height: 130px;
    align-items: flex-end;
}

.logo{
    flex: 2;
    max-size: 20px;
    padding: 0px 0px 10px 30px;
}

nav{
    flex: 1;
    padding: 0px 0px 10px 0px;
}

.navigasjonsbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: black;
    text-decoration: none;
}

.navbar{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
}

.frontphoto{
    width: 100%;
    hight: auto;
    padding: 10px 0px 10px 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*hight: auto;*/
    min-height: 100px;
    background-color: #0d4436;
    color: white;
    text-align: center;
}

.contact{
    font-family: sans-serif;
    font-size: 14px;
    padding: 20px 0px 10px 0px;
    font-weight: 300;
}


/* Forsøk på hamburgermeny i mobilformat*/

.hamburgermenu{
    text-align: right;
    height; 70px;
    line-hight: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 50;
    line-height: 70px;
    display: none;
    width: 26px;
}

#toggle {
    display: none;
}

/@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .navigasjonsbar {
        text-align: center;
        width: 100;
        display: none;
    }
    .navbar {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle: checked + .navigasjonsbar {
    display: block;
    }

}*/































